.container{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.item{
    background-color: #acacac;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}