.searchBox{
    padding-top: 25px;
    width: 100%;
}

input{
    width: 85%;
    height: 35px;
    border-radius: 5px;
}

button{
    height: 38px;
    width: 75px;
    background-color: #74777a;
    color: #fff;
}
